h3 {

    font-size: 25px !important;
}

.btn-success:hover {

    background-color:#e637ba;
}


canvas {
    
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
}


@keyframes example {
from{box-shadow:  1px 1px 38px #e84147;}
to{box-shadow:  1px 1px 38px #00ffea;}
}